/* DatePicker.module.css */
.calendar {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 기본 날짜 스타일 */
.default-day {
  text-align: center;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.default-day:hover {
  background-color: #bbd7fc;
}

/* 선택된 날짜 스타일 */
.selected-day {
  background-color: #62a3f9;
  color: white !important;
  border-radius: 0.3rem;
}

.selected-day:hover {
  background-color: #538bd4 !important;
  color: white;
}

/* 오늘 날짜 색상 변경 */
.today {
  color: #62a3f9;
  font-weight: bold;
}

/* 현재 달이 아닌 날짜 (다른 달) 연하게 */
.outside-month {
  color: #9ca3af; /* Tailwind의 gray-500 */
}

/* 요일을 굵게 */
.react-datepicker__day-name {
  font-weight: 600;
}
