/* DatePicker.module.css */
.calendar {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: white;
  color: black;
  font-weight: bold;
}

/* 기본 날짜 스타일 */
.default-day {
  text-align: center;
  color: #374151;
  border-radius: 0.3rem;
  transition: background-color 0.3s;
}

.default-day:hover {
  background-color: #fde68a; /* hover 시 연한 주황색 */
}

/* 선택된 날짜 스타일 */
.selected-day {
  background-color: #ea580c; /* 주황색 */
  color: white;
  border-radius: 0.3rem;
}

.selected-day:hover {
  background-color: #f97316 !important; /* hover 시 더 진한 주황색 */
  color: white;
}
