@tailwind base;
@tailwind components;
@tailwind utilities;

/* pretendard 웹폰트 적용 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard Variable", Pretendard, Arial, Helvetica, sans-serif;
}

.header-link {
  @apply flex h-full items-center justify-center text-sm font-semibold text-white hover:text-black md:text-base;
}
